@media only screen and (max-width: 992px){
    .dropdown-menu.sh_backmate_theme_appmenu_div .logo {
        display: inline !important;
    }
}


.sh_backmate_theme_appmenu_div a.dropdown-item.o_app2 {
    border-radius: 0;
    text-transform: uppercase !important;
}

.sh_backmate_theme_appmenu_div a.dropdown-item.o_app {
    border-radius: 0;
    text-transform: uppercase !important;
}
